RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L]

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile C:\Jenni\wamp\www\mobile-tech-solutions\.htpasswd
require valid-user